.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 8.5%;
    height: 100%;
    background: #00000080;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.home-img {
    margin: 0;
    padding: 0;
    user-select: none;
    background: linear-gradient(#00000066, #00000066), black no-repeat center center scroll;
}

.player-head {
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.green-point {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 80%;
    bottom: -5px;
    background-color: #28b915; 
    border-radius: 50%;
    border: 2.5px solid #292929;
}

.player-head:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.little-bar-home {
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 100px;
    border-radius: 15px;
    background: #31313180;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.home-btn {
    position: absolute;
    top: 10%;
    width: 80%;
    height: 30%;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.play-btn-mini {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 5%;
    left: 25%;
    border: none;
    border-radius: 15px;
    font-size: 40px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.set-btn {
    position: absolute;
    top: 60%;
    width: 80%;
    height: 30%;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.home-btn:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a7a7a;
}


.play-btn-mini:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a7a7a;
}

.set-btn:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a7a7a;
}

.icon-settings:before {
    font-size: 40px;
}

.icon-home:before {
    font-size: 40px;
}

.home-btn:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a7a7a
}

.home-btn:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    cursor: pointer;
}

.settings-btn:hover {
    border-radius: 5px;
    cursor: pointer;
    background-color: #7a7a7a
}

.settings-btn:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    cursor: pointer;
}

.icon-settings:before {
    font-size: 40px;
}

.icon-home:before {
    font-size: 40px;
}

.player-name {
    font: normal normal bold 24px/35px Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #E1E1E1;
    text-align: center; 
}

@media (min-width: 768px) {
    .player-role {
        left: 100px; /* Positionner le texte du rôle à 100px à gauche après le "skin" */
        float: left; /* Aligner le texte du rôle à gauche après le "skin" */
        max-width: none; /* Supprimer la limite de largeur pour le texte du rôle */
    }

    .player-monnaie {
        left: 100px; /* Positionner le texte des points à 100px à gauche après le "skin" */
        float: left; /* Aligner le texte des points à gauche après le "skin" */
        max-width: none; /* Supprimer la limite de largeur pour le texte des points */
    }
}

/* Styles pour les écrans plus petits */
@media (max-width: 767px) {
    .player-role,
    .player-monnaie {
        left: 0; /* Réinitialiser la position à gauche pour les écrans plus petits */
        float: none; /* Réinitialiser le flottement pour les écrans plus petits */
        text-align: left; /* Aligner le texte à gauche sur les écrans plus petits */
        max-width: 100%; /* Permettre aux textes de prendre toute la largeur sur les écrans plus petits */
        margin: 5px 0; /* Ajouter un espacement de 10px au-dessus et en dessous des textes pour la lisibilité */
    }
}

/* Autres styles CSS... */


.play-element {
    position: absolute;
    transform: translate(-50%);
    height: 100%;
    width: 100%;
    top: 20%;
    left: 25%;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.play-btn {
    position: absolute;
    border-radius: 20px;
    border: none;
}

.play-btn {
    width: 200px;
    height: 45px;
    background: #3436a3;
    font: normal normal bold 25px/30px Poppins;
    color: #121212;
    box-shadow: 0 0 5px #3436a3;
    cursor: pointer;
}

.play-btn:hover {
    background: #1f2081;
}

.home-separator {
    background-color: #757373;
    height: 5%;
    border-radius: 10px;
    width: 230px;
    border: 3px solid #a1a1a1;
    box-shadow: 3px #a1a1a1;
}

.header-container {
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-home {
    text-align: center;
    font: normal normal bold 30px/40px Poppins;
    font-size: 20px;
    color: #d6d4d4;
    margin: 2% 0;
    cursor: pointer;
}

.title-home:hover {
    font-size: 22px;
    color: #a19f9f;
}

.ytb:hover {
    transition: opacity 1s;
    opacity: 1;
}

.video {
    position: relative;
    padding: 10px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
    display: flex;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youtube-thumbnail {
    position: relative;
    width: 95%;
    max-width: 560px; 
    height: 240px;
    margin: 0 auto;
    cursor: pointer;
}

.thumbnail-img {
    width: 95%;
    height: 240px;
    display: block;
}

.ytb-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ytb-btn {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    background: #3436a3;
    font: normal normal bold 15px/20px Poppins;
    color: #ffffff;
    box-shadow: 0 0 5px #3436a3;
    cursor: pointer;
    text-align: center;
}

.ytb-btn:hover {
    background: #1f2081;
}


.ytb-play-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.video iframe {
    width: 95%;
    height: 240px;
    border: none;
}

.credits-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 0px;
}

.video-credits {
    text-align: center;
    font: normal normal bold 30px/40px Poppins;
    font-size: 17px;
    color: #d6d4d4;
}

.download-content {
    width: 100%;
    left: 12%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.time-remaining-dl,
.speed-download-text,
.text-download,
.progress-bar {
    margin-bottom: 3px;
    display: none;
}

.time-remaining-dl,
.speed-download-text,
.text-download {
    margin-top: 5px;
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: rgb(13, 112, 10);
    border-radius: 10px;
}

.body-home {
    display: flex;
    height: 78vh;
    left: 12%;
    margin: 3rem 2rem;
}

.news-list {
    position: relative;
    overflow: auto;
    width: 50%;
    margin-left: 110px;
    top: 35%;
    height: 80%;
}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    transition: opacity 1s;
    opacity: .8;
}

.news-block:hover {
    transition: opacity 1s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.ytb-header,
.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: #292929;
    border-radius: 10px 10px 0px 0px;
    transition: color .2s, filter .2s;
}

.title {
    position: absolute;
    font: normal normal bold 27px/40px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.title-change {
    position: absolute;
    font: normal normal bold 27px/40px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: Poppins;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: fixed;
    width: 30%;
    left: 65%;
    top: 20%;
    background: none;
}

.info-item {
    height: 100%;
}

.server {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .8;
}

.ytb,
.changelog {
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .8;
}

.link {
    position: relative;
    width: 80%;
    margin-top: 10px;
    right: -150px;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .8;
}

.changelog:hover {
    transition: opacity 1s;
    opacity: 1;
}

.bbWrapperChange {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.name-2 {
    font: normal normal bold 35px/50px Poppins;
    color: #E1E1E1;
    transition: color .2s;
}

.button {
    position: absolute;
    border-radius: 15px;
    border: none;
    margin: 2% 0;
    height: 40px;
    top: 100px;
    right: 50px;
    width: 300px;
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    color: #d6d4d4;
    font: normal normal bold 19px/29px Poppins;
    margin-bottom: 50px;
    cursor: pointer;
}

.button:hover {
    background-color: #1f2081;
    box-shadow: 0 0 5px #1f2081;
}

.button-2 {
    position: absolute;
    border-radius: 15px;
    border: none;
    margin: 2% 0;
    height: 40px;
    top: 210px;
    right: 50px;
    width: 300px;
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    color: #d6d4d4;
    font: normal normal bold 19px/29px Poppins;
    margin-bottom: 50px;
    cursor: pointer;
}

.button-2:hover {
    background-color: #1f2081;
    box-shadow: 0 0 5px #1f2081;
}

.logo {
    position: absolute;
    background-image: url("../../images/logo.png");
    top: 3%;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.bbWrapperButton {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.img {
    position: relative;
    width: 80%;
    margin-top: 10px;
    right: -150px;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .8;
}

.text {
    position: absolute;
    font: normal normal bold 20px/40px Poppins;
    color: #E1E1E1;
    top: 80px;
    left: 160px;
    transition: color .2s;
}

.img-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: #292929;
    color: #F1F1F1;
    border-radius: 10px 10px 0px 0px;
    transition: color .2s, filter .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #c70707;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #262626;
    border-radius: 4px;
    transition: background-color .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.infos-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; 
    margin-left: 5%;
}

.avert-home {
    display: block;
    padding: 6px;
    top: 5%;
    background: #292929;
    border: 4px solid #a71914;
    border-radius: 18px;
    margin-bottom: 10px;
    display: none;
}

.advert-banner {
    position: absolute;
    top: 4%; 
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 4px;
    font: normal normal bold 16px/24px Poppins;
    width: 75%;
    height: 20px;
    border-radius: 20px;
    background-color: #7c0000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center; 
}


.infos-container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 50%;
}

.connected-txt {
    color: #0d700a; 
    font: normal normal bold 24px/35px Poppins;
    font-size: 20px;
    font-weight: bold; 
}

.online.off {
    background-color: #c70707;
}

@keyframes falling {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}