.login-card {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background: #121212;
    padding: 20px;
    font: normal normal bold 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 15px;
    text-align: center;
}

.login-type {
    display: grid;
    padding: 0 7%;
}

.login-type-btn {
    border-radius: 15px;
    border: none;
    margin: 2% 0;
    height: 2em;
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    color: #d6d4d4;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
}

.login-type-btn:hover {
    background-color: #1f2081;
    box-shadow: 0 0 5px #1f2081;
}

.login-type-btn:disabled {
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    cursor: default;
}

.login-type-btn:disabled:hover {
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
}

.microsoft {
    display: none;
}

.login-card-mojang {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background: #121212;
    padding: 0 20px;
    font: normal normal bold 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 15px;
    display: none;
}

.logo1 {
    position: absolute;
    left: 50%; 
    top: 0%; 
    transform: translate(-50%, -50%); 
    background-image: url("../../images/logo.png");
    width: 100px;
    height: 100px;
}

.card-body {
    margin: 10%;
}

.login-card-mojang-input {
    text-align: center;
    display: grid;
}

.login-mojang-input {
    font-family: 'Poppins';
    letter-spacing: 2px;
    color: rgb(255, 255, 255) !important; 
    margin-bottom: 5px;
    border: none;
    background-color: rgb(44, 44, 44) !important; 
    z-index: 10 !important; 
    position: relative !important; 
    width: 100%;
    border-radius: 30px;
    padding: 3px;
    text-align: center;
    height: 30px;
    opacity: 1 !important; 
}

.loginDisclaimerText {
    text-align: center;
    font-size: 0.5em;
}

.btn-option-login {
    width: 100%;
    display: grid;
    text-align: center;
}

.login-btn {
    border-radius: 15px;
    border: none;
    margin: 2% 0;
    height: 2em;
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    color: #d6d4d4;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1f2081;
    box-shadow: 0 0 5px #1f2081;
}

.cancel {
    border: none;
    background-color: #ffffff00;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
}

.cancel:hover {
    color: #b81c1c;
}

.cancel:hover:disabled {
    color: #F1F1F1;
    cursor: default;
}

.password-reset {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.password-reset:hover {
    cursor: pointer;
    color: #cfc4c4;
    text-decoration: none;
}

.new-user {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.new-user:hover {
    cursor: pointer;
    color: #cfc4c4;
    text-decoration: none;
}

.email_invalid {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.email_invalid:hover {
    cursor: pointer;
    color: #cfc4c4;
    text-decoration: none;
}

.login-btn-2f {
    border-radius: 15px;
    border: none;
    margin: 2% 0;
    height: 2em;
    background-color: #3436a3;
    box-shadow: 0 0 5px #3436a3;
    color: #d6d4d4;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
}

.login-btn-2f:hover {
    background-color: #1f2081;
    box-shadow: 0 0 5px #1f2081;
}

.info-login {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 20px;
    font: normal normal bold 19px/29px Poppins;
    box-shadow: 0 0 5px #ffffff;
    padding: 10px;
    margin-top: 20px; 
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: #bd1919;
    display: none;
}


.a2f-card {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background: #121212;
    padding: 20px;
    font: normal normal bold 19px/29px Poppins;
    color: #E1E1E1;
    border-radius: 15px;
    text-align: center;
}

.cancel-2f {
    border: none;
    background-color: #ffffff00;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    cursor: pointer;
}

.cancel-2f:hover {
    color: #b81c1c;
}
